*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html,#root {
    width: 100%;
    height: 100%;
    background-color: rgb(18, 18, 18);
}

main{
    width: 100%;
    height: 100%;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.note {
  background-color: rgb(131, 125, 125);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 20rem;
  color: white;
  text-align: center;
}