* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 18, 18);
}

main {
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 1rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.note-create-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.note-create-form input {
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  outline: none;
}

.note-create-form button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  background-color: skyblue;
  transition: all easy .3s;
}

.note-create-form button:hover {
  background-color: rgb(112, 197, 231);
}

.note-create-form button:active {
  scale: .96;
}

.notes {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
}

.note {
  background-color: rgb(131, 125, 125);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 25rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.note p {
  font-size: 1.5rem;
  padding-top: .3rem;
}

.btns {
  text-align: left;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.btns button {
  padding: .8rem 1rem;
  border-radius: .7rem;
  border: none;
  outline: none;
  background-color: rgb(81, 81, 206);
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
  transition: all ease .3s;
}

.btns button:hover {
  background-color: rgb(60, 60, 220);
}

.btns button:first-child {
  background-color: rgb(225, 56, 56);
  transition: all ease .3s;
}

.btns button:first-child:hover {
  background-color: rgb(216, 15, 15);
}

.btns button:active {
  scale: .96;
}